services:
  api:
    build: .
    env_file:
      - .env
    ports:
      - "5000:5000"
    develop:
      watch:
        - action: sync
          path: .
          target: /rest_api
  db:
    env_file:
      - .env
    image: mysql:5.7
    ports:
      - "3306:3306"
    volumes:
      - ./db-data:/var/lib/data